

#### FILE: {{file_number}} ####

{{!standard_includes}}
{{includes|!#include {{include}}}}

{{explicit_instantiations|!{{instantiation}}}}

{{extern_templates|!{{instantiation}}}}

void v8toolkit_initialize_class_wrappers_{{next_file_number}}(v8toolkit::Isolate &); // may not exist -- that's ok
void v8toolkit_initialize_class_wrappers(v8toolkit::Isolate & isolate) {
{


{{classes|class}}


{{call_next_function}}

}

