

#### FILE: {{file_number}} ####

{{!standard_includes}}
{{includes|!!
#include {{include}}}}

{{<explicit_instantiations|!!
template class {{instantiation}}>}}

{{<extern_templates|!!
extern template {{class_name}}>}}

void v8toolkit_initialize_class_wrappers_{{next_file_number}}(v8toolkit::Isolate &); // may not exist -- that's ok
void v8toolkit_initialize_class_wrappers(v8toolkit::Isolate & isolate) {
{


{{classes|class}}


{{call_next_function}}

}

