/**
 * {{CLASS_COMMENT}}
 * @class {{NAME_ALIAS}}
{{PARAMETER_COMMENT_LIST|!!
 * @property \{{{TYPE}}\} {{NAME}}}}
 */
class {{CLASS_NAME}}{{CLASS_INHERITANCE}}
{
{{CONSTRUCTOR_LIST|!!
constructor({}){{}}}}

{{MEMBER_FUNCTION_LIST|!!
{{MEMBER_FUNCTIONS|MEMBER_FUNCTION}}

{{STATIC_FUNCTION_LIST|!!
{{STATIC_FUNCTIONS|STATIC_FUNCTION}}
}
