/**
 * {{comment}}
 * @class {{name}}
{{data_members|!!
 * @property \{{{type}}\} {{name}} {{comment}}}}
 */
class {{CLASS_NAME}}{{CLASS_INHERITANCE}}
{
{{constructors|!!
constructor({}){{}}}}

{{member_functions|member_function}}

{{static_functions|static_function}}
}
