    /**
     * {{<comment}}
    {{<parameters|!!
     * @param \{{{type}}\} {{name}} {{comment}}}}
     * @return \{{{return_type_name}}\} {{return_comment}}
     */
    static {{name}}({{parameters%, |!{{name}}}}){}
